<ion-header>
  <ion-navbar>
    <ion-title>
      Yora Technologies
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <table style="width:30%" border="0%" align="center">
      <ion-segment [(ngModel)]="PatientsPage">
        <ion-segment-button value="Finddoctor">
          Finddoctor
        </ion-segment-button>
        <ion-segment-button value="History">
          History
        </ion-segment-button>
        <ion-segment-button value="Reports">
          Reports
        </ion-segment-button>
      </ion-segment>
    </table>
  </div>

  <div [ngSwitch]="PatientsPage">
    <table style="width:30%" border="0%" align="center">
      <ion-list *ngSwitchCase="'Reports'">
        <ion-item>
          <h2>Onset: When did it start, was it constant/intermittent, gradual/ sudden?,
            <br> Character: What is the pain like e.g. sharp, burning, tight?
            <br> Radiation: Does it radiate/move anywhere?
            <br> Associations: Is there anything else associated with the pain, e.g. sweating, vomiting.
            <br> Time course: Does it follow any time pattern, how long did it last?
            <br> Exacerbating / relieving factors: Does anything make it better or worse?
            <br> Severity: How severe is the pain, consider using the 1-10 scale?
            <br> The SOCRATES acronym can be used for any type of pain history.</h2>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'History'">
        <ion-item>
          <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
          <ion-list>
            <ion-item *ngFor="let item of items">
              {{ item }}
            </ion-item>
          </ion-list>
          <ion-thumbnail item-start>
            <img src="D:/Ionic Mobile/IonicDemo/src/thumbnails">
          </ion-thumbnail>
          <div>
            <button ion-button>Search</button>
          </div>
          <ion-col>Name: Yogesh Rajput
            <br> Senior of
            <br> Neurology
            <br> Genitourinary/renal
            <br> Musculoskeletal
            <br> Psychiatry
            <br>
          </ion-col>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'Finddoctor'">
        <ion-item>
          <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
          <ion-list>
            <button ion-item *ngFor="let patient of patientList" (click)="opendialog({})">
              {{ patient.name }} - {{ patient.phone }}
            </button>
          </ion-list>
        </ion-item>
      </ion-list>
    </table>
  </div>

<ion-content padding>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-content>
  <ion-menu [content]="content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <button ion-item (click)="openPage(homePage)">
            Home
          </button>
          <button ion-item (click)="openPage(friendsPage)">
            Friends
          </button>
          <button ion-item (click)="openPage(eventsPage)">
            Events
          </button>
          <button ion-item (click)="closeMenu()">
            Close Menu
          </button>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
    
</ion-content>
